:root {
	--base00: rgba(  0,  28,  48, 1.0);
	--base01: rgba(128,  22,  22, 1.0);
	--base02: rgba( 22, 128,  22, 1.0);
	--base03: rgba(128, 128,  22, 1.0);
	--base04: rgba( 22,  22, 128, 1.0);
	--base05: rgba(128,  22, 128, 1.0);
	--base06: rgba( 22, 128, 128, 1.0);
	--base07: rgba(198, 224, 255, 1.0);

	--base08: rgba(  0,  59,  94, 1.0);
	--base09: rgba(247, 185, 185, 1.0);
	--base10: rgba(185, 247, 185, 1.0);
	--base11: rgba(247, 247, 185, 1.0);
	--base12: rgba(185, 185, 247, 1.0);
	--base13: rgba(247, 185, 247, 1.0);
	--base14: rgba(185, 247, 247, 1.0);
	--base15: rgba(232, 242, 255, 1.0);
}

/* Dark */
@media (prefers-color-scheme: dark) {
	:root {
		--blue0: var(--base12);
		--cyan0: var(--base14);
		--green0: var(--base10);
		--magenta0: var(--base13);
		--red0: var(--base09);
		--yellow0: var(--base11);

		--blue1: var(--base04);
		--cyan1: var(--base06);
		--green1: var(--base02);
		--magenta1: var(--base05);
		--red1: var(--base01);
		--yellow1: var(--base03);

		--bg: var(--base00);
		--fg: var(--base07);
		--cbg: var(--base08);
		--cfg: var(--base15);
	}
}

/* Light */
@media (prefers-color-scheme: light) {
	:root {
		--blue0: var(--base04);
		--cyan0: var(--base06);
		--green0: var(--base02);
		--magenta0: var(--base05);
		--red0: var(--base01);
		--yellow0: var(--base03);

		--blue1: var(--base12);
		--cyan1: var(--base14);
		--green1: var(--base10);
		--magenta1: var(--base13);
		--red1: var(--base09);
		--yellow1: var(--base11);

		--bg: var(--base15);
		--fg: var(--base08);

		--cbg: var(--base07);
		--cfg: var(--base00);
	}
}
